@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    /* Retirar a marcação*/
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    color: white;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #1D61DD;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header {
    
    background: no-repeat center/cover url('../image/alagoas-banner.jpg');
    color: white;
    display: table;
    width: 100vw;
    height: 100vh;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header nav p {
    font-weight: bold;
}

header nav a:hover {
    color: #000000;
    text-decoration: underline;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    background: #ffffff;
    transform: scale(1.40);
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 4rem;
}


